$red: #E53E58;
$blue: #3262F2;
$yellow: #E9AA13;
$green: #016F3B;
$blue-green: #1BBD95;
$pink: #FD6F8D;
$title: #202020;
$regular: #828282;
$disable: #B3B3B3;
$line: #E0E0E0;
$white: #FFF;
$trans: transparent;
